In [1]:
import cx_Oracle
# 라이브러리 임포트
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData, Text, Date
from sqlalchemy.dialects.oracle import NUMBER, VARCHAR2
from time import sleep
import random
import re
import pandas as pd
from selenium import webdriver
import sys
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import pandas as pd
import time

In [37]:
# 데이터 베이스 연결 정보 설정
db_username = 'base_man'
db_password = '1111'
db_host = '192.168.0.29' # 다른 IP 주소
db_port = '1521' #Oracle의 기본포트
service_name = 'XE'

# Oracle 데이터베이스 연결 문자열 생성
dsn_tns = cx_Oracle.makedsn(db_host, db_port, service_name=service_name)

# 데이터베이스 연결
connection = cx_Oracle.connect(user=db_username, password=db_password, dsn=dsn_tns)

engine = create_engine(f'oracle+cx_oracle://{db_username}:{db_password}@{db_host}:{db_port}/?service_name={service_name}')
# 커서 생성
cursor = connection.cursor()

In [5]:
#db에서 가져옴
query = "select * from TEAM"
Teamdf = pd.read_sql(query, con=engine)

In [6]:
Teamdf

  team_code team_name team_img_url
0        HH        한화         None
1        HT       KIA         None
2        KT        KT         None
3        LT        롯데         None
4        OB        두산         None
5        SS        삼성         None
6        SK       SSG         None
7        LG        LG         None
8        WO        키움         None
9        NC        NC         None

In [7]:
#db에서 가져옴
query = "select * from MATCHWEATHER"
Matchwdf = pd.read_sql(query, con=engine)

In [8]:
Matchwdf

           날짜  위치 최저기온 최고기온 강우확률
0  2024-09-05  창원  22°  33°   0%
1  2024-09-06  창원  25°  32°  60%
2  2024-09-07  창원  25°  31°  60%
3  2024-09-08  창원  24°  32°  30%
4  2024-09-09  창원  24°  32°  30%
..        ...  ..  ...  ...  ...
85 2024-09-10  수원  23°  32°  20%
86 2024-09-11  수원  23°  32°  30%
87 2024-09-12  수원  24°  30°  40%
88 2024-09-13  수원  21°  29°  40%
89 2024-09-14  수원  19°  28°  40%

[90 rows x 5 columns]

In [15]:
#db에서 가져옴
query = "select * from MATCH_SCHEDULE order by match_date asc"
Matchdf = pd.read_sql(query, con=engine)

In [16]:
Matchdf

    match_id match_date match_time status team1_code team2_code home_team_code
0          1 2024-09-03      18:30     예정         LG         HT             HT
1          2 2024-09-03      18:30     예정         LT         SS             SS
2          3 2024-09-03      18:30     예정         OB         HH             HH
3          4 2024-09-03      18:30     예정         WO         NC             NC
4          5 2024-09-04      18:30     예정         HH         HT             HT
..       ...        ...        ...    ...        ...        ...            ...
90        91 2024-09-28      17:00     예정         HT         LT             LT
91        92 2024-09-28      17:00     예정         LG         SS             SS
92        93 2024-09-28      17:00     예정         OB         NC             NC
93        94 2024-09-28      17:00     예정         SK         HH             HH
94        95 2024-09-28      17:00     예정         WO         KT             KT

[95 rows x 7 columns]

In [17]:
#db에서 가져옴
query = "select * from stadium_locations"
stadiumdf = pd.read_sql(query, con=engine)

In [18]:
stadiumdf

,team_code,team_name,stadium_name,std_image_url,latitude,longitude
0,SS,삼성,삼성 라이온즈 파크,https://i.namu.wiki/i/Y-V9qfbukjWKQN_sHjaj0lNp...,35.8400,128.6800
1,OB,두산,잠실 야구장,https://i.namu.wiki/i/OKi3ZiXPcaSCs5jj9Rx6KrAd...,37.5121,127.0710
2,LT,롯데,사직 야구장,https://i.namu.wiki/i/KV7IyWApI2PG22H5h51rI0Si...,35.1945,129.0630
3,LG,LG,잠실 야구장,https://i.namu.wiki/i/OKi3ZiXPcaSCs5jj9Rx6KrAd...,37.5121,127.0710
4,HT,KIA,광주-KIA 챔피언스 필드,https://i.namu.wiki/i/fC5S84T3kO_AMvFqKGpPsZZo...,35.1847,126.8520
5,HH,한화,대전 한화생명이글스파크,https://i.namu.wiki/i/eLXWwgX2zfxeCZDOGsoJnsBA...,36.3173,127.4200
6,NC,NC,창원 NC파크,https://i.namu.wiki/i/v8pBY2eV08-UW0ZgRbzXf0AG...,35.1807,128.5820
7,SK,SSG,인천 SSG 랜더스필드,https://www.ssglanders.com/img/stadium/img_bal...,37.4350,126.6930
8,WO,키움,고척 스카이돔,https://i.namu.wiki/i/iyvLMbwVmm-GR20XzJZHr4TL...,37.4982,126.8679
9,KT,KT,수원 KT위즈파크,https://i.namu.wiki/i/KXDRI0xADcyE0_V8mYcpINiM...,37.2999,127.0090

In [30]:
# 팀 코드에 따른 location 매핑
location_mapping = {
    'SS': '대구',
    'OB': '잠실',
    'LT': '사직',
    'HT': '광주',
    'HH': '대전',
    'NC': '창원',
    'SK': '인천',
    'WO': '고척',
    'KT': '수원',
    'LG': '잠실'
}

In [31]:
#location 컬럼추가
# stadiumdf에 location 컬럼 추가 및 매핑된 값 할당
Matchdf['location'] = Matchdf['home_team_code'].map(location_mapping)

In [32]:
Matchdf

,match_id,match_date,match_time,status,team1_code,team2_code,home_team_code,location
0,1,2024-09-03,18:30,예정,LG,HT,HT,광주
1,2,2024-09-03,18:30,예정,LT,SS,SS,대구
2,3,2024-09-03,18:30,예정,OB,HH,HH,대전
3,4,2024-09-03,18:30,예정,WO,NC,NC,창원
4,5,2024-09-04,18:30,예정,HH,HT,HT,광주
...,...,...,...,...,...,...,...,...
90,91,2024-09-28,17:00,예정,HT,LT,LT,사직
91,92,2024-09-28,17:00,예정,LG,SS,SS,대구
92,93,2024-09-28,17:00,예정,OB,NC,NC,창원
93,94,2024-09-28,17:00,예정,SK,HH,HH,대전
94,95,2024-09-28,17:00,예정,WO,KT,KT,수원

In [35]:
# 컬럼 이름을 병합 기준에 맞게 변경
Matchwdf.rename(columns={'날짜': 'match_date', '위치': 'location'}, inplace=True)

# 날짜 형식 변환 (datetime 형식으로 변환하여 일치하도록 설정)
Matchdf['match_date'] = pd.to_datetime(Matchdf['match_date'])
Matchwdf['match_date'] = pd.to_datetime(Matchwdf['match_date'])

# 두 데이터프레임을 날짜와 위치 기준으로 병합
merged_df = pd.merge(Matchdf, Matchwdf, on=['match_date', 'location'], how='inner')

# 결과 출력
print(merged_df)

    match_id match_date match_time status team1_code team2_code  \
0         10 2024-09-05      18:30     예정         HH         HT
1         11 2024-09-05      18:30     예정         KT         LT
2         12 2024-09-05      18:30     예정         SK         LG
3         13 2024-09-05      18:30     예정         WO         NC
4         14 2024-09-06      18:30     예정         HH         LG
5         15 2024-09-06      18:30     예정         KT         NC
6         16 2024-09-06      18:30     예정         SS         LT
7         17 2024-09-06      18:30     예정         WO         HT
8         18 2024-09-07      14:00     예정         HH         LG
9         19 2024-09-07      17:00     예정         NC         SS
10        20 2024-09-07      17:00     예정         OB         KT
11        21 2024-09-07      17:00     예정         SK         LT
12        22 2024-09-07      17:00     예정         WO         HT
13        23 2024-09-08      14:00     예정         HH         LG
14        24 2024-09-08      14:00     예정         NC         SS
15        25 2024-09-08      14:00     예정         SK         LT
16        26 2024-09-08      14:00     예정         WO         HT
17        27 2024-09-10      18:30     예정         HH         SK
18        28 2024-09-10      18:30     예정         LT         LG
19        29 2024-09-10      18:30     예정         NC         KT
20        30 2024-09-10      18:30     예정         OB         WO
21        31 2024-09-11      18:30     예정         LT         SK
22        32 2024-09-11      18:30     예정         NC         KT
23        33 2024-09-11      18:30     예정         SS         HH
24        34 2024-09-11      18:30     예정         WO         LG
25        35 2024-09-12      18:30     예정         LT         HT
26        36 2024-09-12      18:30     예정         NC         KT
27        37 2024-09-12      18:30     예정         SS         HH
28        38 2024-09-12      18:30     예정         WO         LG
29        39 2024-09-13      18:30     예정         HH         LT
30        40 2024-09-13      18:30     예정         LG         SK
31        41 2024-09-13      18:30     예정         NC         OB
32        42 2024-09-14      17:00     예정         HH         LT
33        43 2024-09-14      17:00     예정         KT         OB
34        44 2024-09-14      17:00     예정         LG         NC
35        45 2024-09-14      17:00     예정         SS         SK
36        46 2024-09-14      17:00     예정         WO         HT

   home_team_code location 최저기온 최고기온 강우확률
0              HT       광주  22°  32°  20%
1              LT       사직  23°  31°   0%
2              LG       잠실  24°  29°  60%
3              NC       창원  22°  33°   0%
4              LG       잠실  24°  31°  60%
5              NC       창원  25°  32°  60%
6              LT       사직  25°  31°  60%
7              HT       광주  24°  31°  60%
8              LG       잠실  23°  31°  20%
9              SS       대구  23°  31°  60%
10             KT       수원  23°  31°  20%
11             LT       사직  25°  30°  20%
12             HT       광주  24°  31°  60%
13             LG       잠실  23°  31°  20%
14             SS       대구  24°  31°  40%
15             LT       사직  25°  31°  30%
16             HT       광주  23°  32°  40%
17             SK       인천  25°  31°  20%
18             LG       잠실  24°  32°  20%
19             KT       수원  23°  32°  20%
20             WO       고척  24°  32°  20%
21             SK       인천  24°  30°  30%
22             KT       수원  23°  32°  30%
23             HH       대전  24°  32°  40%
24             LG       잠실  24°  32°  30%
25             HT       광주  24°  32°  40%
26             KT       수원  24°  30°  40%
27             HH       대전  24°  30°  40%
28             LG       잠실  23°  31°  40%
29             LT       사직  25°  29°  40%
30             SK       인천  22°  28°  40%
31             OB       잠실  22°  29°  40%
32             LT       사직  24°  29°  40%
33             OB       잠실  21°  28°  40%
34             NC       창원  23°  29°  40%
35             SK       인천  21°  27°  40%
36             HT       광주  22°  29°  40%

In [36]:
merged_df

,match_id,match_date,match_time,status,team1_code,team2_code,home_team_code,location,최저기온,최고기온,강우확률
0,10,2024-09-05,18:30,예정,HH,HT,HT,광주,22°,32°,20%
1,11,2024-09-05,18:30,예정,KT,LT,LT,사직,23°,31°,0%
2,12,2024-09-05,18:30,예정,SK,LG,LG,잠실,24°,29°,60%
3,13,2024-09-05,18:30,예정,WO,NC,NC,창원,22°,33°,0%
4,14,2024-09-06,18:30,예정,HH,LG,LG,잠실,24°,31°,60%
5,15,2024-09-06,18:30,예정,KT,NC,NC,창원,25°,32°,60%
6,16,2024-09-06,18:30,예정,SS,LT,LT,사직,25°,31°,60%
7,17,2024-09-06,18:30,예정,WO,HT,HT,광주,24°,31°,60%
8,18,2024-09-07,14:00,예정,HH,LG,LG,잠실,23°,31°,20%
9,19,2024-09-07,17:00,예정,NC,SS,SS,대구,23°,31°,60%
10,20,2024-09-07,17:00,예정,OB,KT,KT,수원,23°,31°,20%
11,21,2024-09-07,17:00,예정,SK,LT,LT,사직,25°,30°,20%
12,22,2024-09-07,17:00,예정,WO,HT,HT,광주,24°,31°,60%
13,23,2024-09-08,14:00,예정,HH,LG,LG,잠실,23°,31°,20%
14,24,2024-09-08,14:00,예정,NC,SS,SS,대구,24°,31°,40%
15,25,2024-09-08,14:00,예정,SK,LT,LT,사직,25°,31°,30%
16,26,2024-09-08,14:00,예정,WO,HT,HT,광주,23°,32°,40%
17,27,2024-09-10,18:30,예정,HH,SK,SK,인천,25°,31°,20%
18,28,2024-09-10,18:30,예정,LT,LG,LG,잠실,24°,32°,20%
19,29,2024-09-10,18:30,예정,NC,KT,KT,수원,23°,32°,20%
20,30,2024-09-10,18:30,예정,OB,WO,WO,고척,24°,32°,20%
21,31,2024-09-11,18:30,예정,LT,SK,SK,인천,24°,30°,30%
22,32,2024-09-11,18:30,예정,NC,KT,KT,수원,23°,32°,30%
23,33,2024-09-11,18:30,예정,SS,HH,HH,대전,24°,32°,40%
24,34,2024-09-11,18:30,예정,WO,LG,LG,잠실,24°,32°,30%
25,35,2024-09-12,18:30,예정,LT,HT,HT,광주,24°,32°,40%
26,36,2024-09-12,18:30,예정,NC,KT,KT,수원,24°,30°,40%
27,37,2024-09-12,18:30,예정,SS,HH,HH,대전,24°,30°,40%
28,38,2024-09-12,18:30,예정,WO,LG,LG,잠실,23°,31°,40%
29,39,2024-09-13,18:30,예정,HH,LT,LT,사직,25°,29°,40%
30,40,2024-09-13,18:30,예정,LG,SK,SK,인천,22°,28°,40%
31,41,2024-09-13,18:30,예정,NC,OB,OB,잠실,22°,29°,40%
32,42,2024-09-14,17:00,예정,HH,LT,LT,사직,24°,29°,40%
33,43,2024-09-14,17:00,예정,KT,OB,OB,잠실,21°,28°,40%
34,44,2024-09-14,17:00,예정,LG,NC,NC,창원,23°,29°,40%
35,45,2024-09-14,17:00,예정,SS,SK,SK,인천,21°,27°,40%
36,46,2024-09-14,17:00,예정,WO,HT,HT,광주,22°,29°,40%

In [45]:
merged_df.to_sql(
    'match_weather', 
    con=engine, 
    if_exists='append',  # 기존 테이블에 데이터 추가
    index=False, 
    dtype={
        'match_id': NUMBER,
        'match_date': Date(),
        'match_time': VARCHAR2(20),
        'status': VARCHAR2(20),
        'team1_code': VARCHAR2(10),
        'team2_code': VARCHAR2(10),
        'home_team_code': VARCHAR2(10),
        'location': VARCHAR2(50),
        '최저기온': VARCHAR2(10),
        '최고기온': VARCHAR2(10),
        '강우확률': VARCHAR2(10)
    }
)
print("Table insert successfully")

Table insert successfully